{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>/{{board.name}}/</h1>
    {% if admin %}
    <form method="post" action="{{base_path}}/{{board.name}}/delete">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    <p>
        {% if admin %}
    <form method="post" action="{{base_path}}/{{board.name}}/edit">
        <textarea name="description">{{board.description}}</textarea><br/>
        <button type="submit">Edit</button>
    </form>
    {% else %}
    {{board.description|escape("markup")|raw}}
    {% endif %}
</p>
</div>
<p>
<form method="post" action="{{base_path}}/{{board.name}}/send">
    Create thread:<br>
    <textarea name="content"></textarea><br>
    <button type="submit">Send</button>
</form>
{% for thread, content in threads %}
<a href="{{base_path}}/{{board.name}}/{{thread}}">{{thread}}</a><br/>
{% for message in content %}
<div class="post">
    {{message.userid}}
    {% if admin %}
    <form method="post" action="{{base_path}}/ban">
        <input type="hidden" name="id" value="{{message.userid}}"/>
        <button type="submit">Ban</button>
    </form>
    {% endif %}
    {{message.content|escape("markup")|raw}}
</div>

{% endfor %}
{% else %}
No threads in this board.
{% endfor %}
</p>
{% endblock %}
