{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>/{{board.name}}/</h1>
    {% if control %}
    <form method="post" action="{{base_path}}/{{board.name}}/delete">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    <p>
        {% if control %}
    <form method="post" action="{{base_path}}/{{board.name}}/edit">
        <textarea name="description">{{board.description}}</textarea><br/>
        <button type="submit">Edit</button>
    </form>
    {% else %}
    {{board.description|escape("markup")|raw}}
    {% endif %}
</p>
</div>
<p>
<form method="post" action="{{base_path}}/{{board.name}}/send">
    Create thread:<br>
    <input type="text" name="title"/><br/>
    <textarea name="content"></textarea><br>
    <button type="submit">Send</button>
</form>
{% include 'pager.html' with {'url': board.name} %}
{% for threadid, thread in threads %}
<div class="thread">
    <a href="{{base_path}}/{{board.name}}/{{threadid}}">{{thread.title}}</a><br/>
    {% if control %}
    <form method="post" action="{{base_path}}/{{board.name}}/{{threadid}}/delete">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    {% for message in thread.posts %}
    <div class="post">
        {{message.userid}}
        {% if control %}
        <form method="post" action="{{base_path}}/ban">
            <input type="hidden" name="id" value="{{message.userid}}"/>
            <button type="submit">Ban</button>
        </form>
        {% endif %}
        {{message.content|escape("markup")|raw}}
    </div>
    {% endfor %}
    {% if thread.count %}
    ...({{thread.count}})<br/>
    {% endif %}
</div>
{% else %}
No threads in this board.
{% endfor %}

</p>
{% endblock %}
