{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>/{{board.name}}/</h1>
</div>
<p>
    {% for message in messages %}
<div class="post">
    {{message.userid}}
    {% if control %}
    <form method="post" action="{{base_path}}/ban">
        <input type="hidden" name="id" value="{{message.userid}}"/>
        <button type="submit">Ban</button>
    </form>
    {% endif %}
    {{message.content|escape("markup")|raw}}
</div>
{% endfor %}
<form method="post" action="{{base_path}}/{{board.name}}/{{thread}}/send">
    Create message:<br>
    <textarea name="content"></textarea><br>
    <button type="submit">Send</button>
</form>
</p>
{% endblock %}
